# Compose
COMPOSE_PROJECT_NAME=booking

# Authentication

# Generate a secret key with:
# python -c "import secrets; print(secrets.token_hex(32))"
AUTH__JWT__SECRET_KEY=

# ISO 8601 duration
AUTH__JWT__ACCESS_TOKEN_TTL=PT15M
AUTH__JWT__REFRESH_TOKEN_TTL=P30D

# DB
POSTGRES_DB=booking
POSTGRES_USER=booking
POSTGRES_PASSWORD=

# S3
S3_ACCESS_KEY=booking
S3_SECRET_KEY=

S3_ENDPOINT_URL=http://s3:9000
S3_PUBLIC_BASE_URL=http://localhost:9000

S3_REGION=eu-central-1
S3_BUCKET=booking

# SMTP
SMTP_HOSTNAME=mailpit
SMTP_PORT=1025
SMTP_FROM_EMAIL=noreply@example.com
SMTP_FROM_NAME=Booking

# Mailpit doesn't support authentication, unset credentials in test environment
# SMTP_USERNAME=
# SMTP_PASSWORD=

SMTP_START_TLS=false

# SPA
# Comma-separated list (JSON in the environment)
CORS_ORIGINS=["http://localhost:5173"]
FRONTEND_BASE_URL=http://localhost:5173

# SPA (public)
VITE_API_BASE_URL=http://localhost:8000