# Compose
COMPOSE_PROJECT_NAME=booking

# API
# Generate a secret key with:
# python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=

# DB
POSTGRES_DB=booking
POSTGRES_USER=booking
POSTGRES_PASSWORD=

# SPA (public)
VITE_API_URL=http://localhost:8000