# Compose
COMPOSE_PROJECT_NAME=booking

# API
# Generate a secret key with:
# python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=

# DB
POSTGRES_DB=booking
POSTGRES_USER=booking
POSTGRES_PASSWORD=

# S3
S3_ACCESS_KEY=booking
S3_SECRET_KEY=

S3_ENDPOINT_URL=http://s3:9000
S3_PUBLIC_BASE_URL=http://localhost:9000

S3_REGION=eu-central-1
S3_BUCKET=booking

# SPA (public)
VITE_API_URL=http://localhost:8000